# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
# lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# mr Developer
.mr.developer.cfg
.project
.pydevproject

# sphinx documentation
docs/_build/

# diagrams
*.graffle
.DS_Store

